.grid {
    display: grid;
    gap: 0; 
    user-select: none;
    width: 100%;
    height: 120%;
}
  
.pixel {
    width: 30px;
    height: 30px;
    background-color: white;
    outline: 1px solid black;
    user-select: none;
}
  