.app__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.control__panel__container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid black;
    border-radius: 3px;
    padding: 10px;
    left: 80%;
    height: 200px;
}